<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/manage/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
<script type="javascript">
	document.addEventListener("DOMContentLoaded", () => {
		PAGE.paging([[${resultList}]]);
	});
</script>
<table class="datatables-users table border-top dataTable no-footer dtr-column" style="width: 100%;">
	<colgroup>
		<col style="width: 10%;">
		<col style="width: 15%;">
		<col style="width: 15%;">
		<col>
		<col style="width: 8%;">
		<col style="width: 15%;">
		<col style="width: 15%;">
	</colgroup>
	<thead>
		<tr>
			<th>구분</th>
			<th>메뉴명</th>
			<th>메뉴코드</th>
			<th>URL</th>
			<th>순서</th>
			<th>등록자</th>
			<th>등록일</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:if="${#lists.size(resultList) gt 0}">
			<tr class="text-body" th:each="result : ${resultList}" th:onclick="gfnPageProcess('view', 'listView', [[${result.seq}]],'seq')" th:parameter="${result.seq}" style="cursor: pointer;">
				<td th:text="${result.menuClCd eq 'ma' ? '관리자' : '사용자'}"></td>
				<td th:text="${result.menuNm}"></td>
				<td th:text="${result.menuCd}"></td>
				<td><span class="text-truncate" th:text="${result.menuUrl}"></span></td>
				<td th:text="${result.menuOrd}" style="text-align: center;"></td>
				<td th:text="${result.regId}"></td>
				<td th:text="${#dates.format(result.regDt, 'yyyy-MM-dd')}"></td>
			</tr>
		</th:block>
		<th:block th:unless="${#lists.size(resultList) gt 0}">
			<tr class="text-body">
				<td th:colspan="7" style="text-align: center; height: 5rem;">등록된 데이터가 없습니다.</td>
			</tr>
		</th:block>
	</tbody>
</table>
<th:block th:if="${maMenuVO.procType eq 'list'}">
	<div class="demo-inline-spacing">
		<button class="dt-button create-new btn btn-primary" onclick="gfnPageProcess('insert', 'insertForm')" style="float: right;">
			<span><i class="bx bx-plus me-sm-1"></i>
				<span class="d-none d-sm-inline-block">Add New Record</span>
			</span>
		</button>
	</div>
	<nav aria-label="Page navigation" id="pagingArea">
	</nav>
</th:block>
</html>
