<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
>
<table class="datatables-users table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
	<colgroup>
		<col style="width: 10%;">
		<col style="width: 15%;">
		<col style="width: 15%;">
		<col>
		<col style="width: 15%;">
		<col style="width: 15%;">
	</colgroup>
	<thead>
		<tr>
			<th>구분</th>
			<th>메뉴명</th>
			<th>메뉴코드</th>
			<th>URL</th>
			<th>등록자</th>
			<th>등록일</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:if="${#lists.size(resultList) gt 0}">
			<tr class="text-body" th:each="result : ${resultList}" onclick="gfnPageProcess('view', 'view', this.getAttribute('parameter'), 'seq')" th:parameter="${result.seq}" style="cursor: pointer;">
				<td th:text="${result.menuClCd}"></td>
				<td th:text="${result.menuNm}"></td>
				<td th:text="${result.menuCd}"></td>
				<td><span class="text-truncate" th:text="${result.menuUrl}"></span></td>
				<td th:text="${result.frstRegrId}"></td>
				<td th:text="${#dates.format(result.frstRegrDt, 'yyyy-MM-dd')}"></td>
			</tr>
		</th:block>
		<th:block th:unless="${#lists.size(resultList) gt 0}">
			<tr class="text-body">
				<td th:colspan="6" style="text-align: center">등록된 데이터가 없습니다.</td>
			</tr>
		</th:block>
	</tbody>
</table>
<div class="demo-inline-spacing">
	<button class="dt-button create-new btn btn-primary" onclick="gfnPageProcess('insert', 'insertForm')" style="position: absolute;right: 0;bottom: 1rem;">
		<span><i class="bx bx-plus me-sm-1"></i>
			<span class="d-none d-sm-inline-block">Add New Record</span>
		</span>
	</button>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item first">
				<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
			</li>
			<li class="page-item prev">
				<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="javascript:void(0);">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="javascript:void(0);">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="javascript:void(0);">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="javascript:void(0);">4</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="javascript:void(0);">5</a>
			</li>
			<li class="page-item next">
				<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
			</li>
			<li class="page-item last">
				<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
			</li>
		</ul>
	</nav>
</div>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    });
</script>
</html>
