<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    });
</script>
<h4 class="fw-bold py-3 mb-4">Menu</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">신규 메뉴등록</h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${maMenuDto}" method="post" onsubmit="return false;">
					<input type="hidden" th:field="*{seq}">
					<input type="hidden" th:field="*{upperCd}">
					<div class="row">
						<div class="mb-3 col-md-4">
							<label for="menuClCd" class="form-label">구분</label>
							<select class="form-select" id="menuClCd" th:field="*{menuClCd}" title="구분" required>
								<option value="" selected>선택</option>
								<option value="ma">관리자</option>
								<option value="ft">사용자</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="menuOrd">순서</label>
							<input type="text" class="form-control" id="menuOrd" th:field="*{menuOrd}" title="순서" required/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="useYn">사용여부</label>
							<select class="form-select" id="useYn" th:field="*{useYn}" title="사용여부" required>
								<option value="" selected>선택</option>
								<option value="Y">사용</option>
								<option value="N">미사용</option>
							</select>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="menuNm">메뉴명</label>
							<input type="text" class="form-control" id="menuNm" th:field="*{menuNm}" title="메뉴명" required/>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="menuCd">메뉴코드</label>
							<div class="input-group">
								<input type="text" class="form-control" id="menuCd" th:field="*{menuCd}" title="메뉴코드" required/>
								<button class="btn btn-outline-primary" type="button" id="button-addon2">중복확인</button>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="menuUrl">URL</label>
							<input type="text" class="form-control" id="menuUrl" th:field="*{menuUrl}" title="URL" required/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="menuCmt">설명</label>
							<textarea class="form-control" id="menuCmt" th:field="*{menuCmt}"></textarea>
						</div>
					</div>
					<div class="text-end">
						<th:block th:if="${maMenuDto.procType eq 'insert'}">
							<button type="button" class="btn btn-outline-primary" onclick="gfnPageProcess('submit', 'insertProc')">등록</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('list', 'list')">취소</button>
						</th:block>
						<th:block th:unless="${maMenuDto.procType eq 'insert'}">
							<button type="button" class="btn btn-outline-primary" onclick="gfnPageProcess('update', 'updateProc')">수정</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('view', 'view', this.getAttribute('parameter'), 'seq')" th:parameter="*{seq}">취소</button>
						</th:block>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>
