<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {
        gfnPageProcess('addList', 'viewAddList', document.getElementById('pageNo').value);
    });

    function fnInsertMenu() {
		document.getElementById('upperCd').value = [[${maMenuDto.menuCd}]];
        gfnPageProcess('insert', 'lowerInsertForm');
    }
</script>
<h4 class="fw-bold py-3 mb-4">Menu</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">메뉴 정보</h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${maMenuDto}" method="post" onsubmit="return false;">
					<input type="hidden" th:field="*{seq}">
					<input type="hidden" th:field="*{upperCd}">
					<input type="hidden" th:field="*{pageNo}">
					<input type="hidden" th:field="${maMenuDto.search1}">
					<input type="hidden" th:field="*{searchOption}">
					<input type="hidden" th:field="*{searchKeyword}">
					<div class="row">
						<div class="mb-3 col-md-4">
							<label for="menuClCd" class="form-label">구분</label>
							<input class="form-control-plaintext" id="menuClCd" name="menuClCd" th:value="*{menuClCd} eq 'ma' ? '관리자' : '사용자'" readonly>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="menuOrd">순서</label>
							<input type="text" class="form-control-plaintext" id="menuOrd" th:field="*{menuOrd}" readonly/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="useYn">사용여부</label>
							<input type="text" class="form-control-plaintext" id="useYn" name="useYn" th:value="*{useYn} eq 'Y' ? '사용' : '미사용'" readonly/>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="menuNm">메뉴명</label>
							<input type="text" class="form-control-plaintext" id="menuNm" th:field="*{menuNm}" readonly/>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="menuCd">메뉴코드</label>
							<input type="text" class="form-control-plaintext" id="menuCd" th:field="*{menuCd}" readonly/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="menuUrl">URL</label>
							<input type="text" class="form-control-plaintext" id="menuUrl" th:field="*{menuUrl}" readonly/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="menuCmt">설명</label>
							<textarea class="form-control-plaintext" id="menuCmt" th:field="*{menuCmt}" readonly></textarea>
						</div>
					</div>
					<div class="text-end">
						<button type="button" class="btn btn-outline-primary" onclick="fnInsertMenu();">하위등록</button>
						<th:block th:if="*{upperCd eq ''}">
							<button type="button" class="btn btn-outline-info" onclick="gfnPageProcess('insert', 'updateForm')">수정</button>
							<button type="button" class="btn btn-outline-danger" onclick="gfnPageProcess('delete', 'deleteProc')">삭제</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('list', 'list')">목록</button>
						</th:block>
						<th:block th:unless="*{upperCd eq ''}">
							<button type="button" class="btn btn-outline-info" onclick="gfnPageProcess('insert', 'lowerUpdateForm')">수정</button>
							<button type="button" class="btn btn-outline-danger" onclick="gfnPageProcess('delete', 'lowerDeleteProc')">삭제</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('view', 'viewView', this.getAttribute('parameter'), 'upperCd')" th:parameter="*{upperCd}">목록</button>
						</th:block>
					</div>
				</form>
			</div>
			<div class="card-datatable table-responsive">
				<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
					<div id="tbl"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
