<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="mb-3">
	<label for="atchFile" class="form-label">첨부파일</label>
	<input class="form-control" type="file" id="atchFile" name="atchFile" onchange="fnFileUpload(this.files);"/>
</div>
<script th:inline="javascript">
	function fnFileUpload(files) {
        let formData = new FormData();
        formData.append("file", files[0]);

        fetch('/file/upload', {
            method: "POST",
	        body: formData
        })
	        .then(res => res.text())
	        .then(data => {
                document.getElementById('atchFile').value = data;
	        })
	}
</script>
</html>