<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
function fnLogin() {
    let id = document.getElementById("userId");
    let pw = document.getElementById("password");

    if(!id.value || !pw.value) {
        alert("아이디 또는 비밀번호를 확인해주세요.");
    } else {
        document.querySelector("#defaultFrm").submit();
    }
}
</script>
<form th:action="@{/maLoginProcess}" id="defaultFrm" method="post">
	<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
		<div class="d-flex align-items-center justify-content-center w-100">
			<div class="row justify-content-center w-100">
				<div class="col-md-8 col-lg-6 col-xxl-3">
					<div class="card mb-0">
						<div class="card-body">
							<a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
								<img src="/manage/images/logos/dark-logo.svg" width="180" alt="">
							</a>
							<p class="text-center">Your Social Campaigns</p>
							<form>
								<div class="mb-3">
									<label for="userId" class="form-label">Username</label>
									<input type="text" class="form-control" id="userId" name="userId" aria-describedby="emailHelp">
								</div>
								<div class="mb-4">
									<label for="password" class="form-label">Password</label>
									<input type="password" class="form-control" id="password" name="password">
								</div>
								<div class="d-flex align-items-center justify-content-between mb-4">
									<div class="form-check">
										<input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
										<label class="form-check-label text-dark" for="flexCheckChecked">Remeber this Device</label>
									</div>
									<a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
								</div>
								<a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" onclick="fnLogin();">Sign In</a>
								<div class="d-flex align-items-center justify-content-center">
									<p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
									<a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</html>