<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="header"
>
<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a th:href="@{/}" class="logo">
						<img src="/front/images/logo.png" alt="">
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Search End ***** -->
					<div class="search-input">
						<form id="search" action="#">
							<input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle"/>
							<i class="fa fa-search"></i>
						</form>
					</div>
					<!-- ***** Search End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
						<li><a th:href="@{/}" th:classappend="${requestURI == '/' ? 'active' : ''}">Home</a></li>
						<li><a th:href="@{/browse}" th:classappend="${requestURI == '/browse' ? 'active' : ''}">Browse</a></li>
						<li><a th:href="@{/details}" th:classappend="${requestURI == '/details' ? 'active' : ''}">Details</a></li>
						<li><a th:href="@{/streams}" th:classappend="${requestURI == '/streams' ? 'active' : ''}">Streams</a></li>
						<li><a th:href="@{/profile}" th:classappend="${requestURI == '/profile' ? 'active' : ''}">Profile <img src="/front/images/profile-header.jpg" alt=""></a></li>
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>
					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>
</html>