<!DOCTYPE html>
<html lang="en"
	  class="light-style layout-menu-fixed"
	  dir="ltr"
	  data-theme="theme-default"
	  data-assets-path="/manage/assets/"
	  data-template="vertical-menu-template-free"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/manage/layout/layout}"
	  layout:fragment="content"
>
<script th:inline="javascript">

	// code 상세정보 불러오기
	function fnGetCodeInfo(code){
		fetch('/ma/sys/code/getCodeDetail', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				code: code
			})
		})
				.then(res => res.json())
				.then(data => {
					document.getElementById("groupCode").value = data.codeDetail.groupCode;
					document.getElementById("parentCode").value = data.codeDetail.parentCode;
					document.getElementById("code").value = data.codeDetail.code;
					document.getElementById("name").value = data.codeDetail.name;
					document.getElementById("useYn").value = data.codeDetail.useYn;
					document.getElementById("order").value = data.codeDetail.order;
					document.getElementById("code").readOnly = "readOnly"
					if(document.getElementById("check_btn") != null){
						document.getElementById("check_btn").remove();
					}
				})
				.catch(error => alert('fetch 에러'));
	}

	//	코드목록 삭제
	function fnCodeRemove(parentCode){
		const click_point = document.querySelector(".click_point");
		if(click_point != null){
			click_point.classList.remove("click_point")
		}
		document.getElementById(parentCode).classList.add("click_point");

		const obj_size = document.getElementsByClassName(parentCode).length;
		if(obj_size > 0){
			for (i = 1; i < obj_size+1; i++) {
				const obj = document.querySelector("."+parentCode);
				if(obj != null){
					fnCodeRemove(obj.id);
					obj.remove();
				}
			}
			return false;
		}else{
			return true;
		}
	}

	// 해당 code 하위리스트 불러오기
	function fnGetCodeList(parentCode){

		fnGetCodeInfo(parentCode);
		if(!fnCodeRemove(parentCode)){
			return false;
		}

		fetch('/ma/sys/code/getCodeCodeList', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				parentCode: parentCode
			})
		})
				.then(res => res.json())
				.then(data => {
					if(data.codeList.length > 0) {
						data.codeList.forEach((value, index) => {
							let content = '';
							if(parentCode.indexOf("CD") != -1){
								content += '<td class="text_align_right" colspan="2" onCLick="fnGetCodeList(\'' + value.code + '\')">(' + value.order + ')</td>'
										+ '<td colspan="2" onCLick="fnGetCodeList(\'' + value.code + '\')">' + value.name + '</td>'
										+ '<td class="text_align_center" onCLick="fnSetSubElement(\'' + parentCode + '\',\'' + value.code + '\')">+</td>';
							}else{
								content += '<td class="text_align_right"  colspan="3"  onCLick="fnGetCodeList(\'' + value.code + '\')">* ' + value.order + '</td>'
										+ '<td onCLick="fnGetCodeList(\'' + value.code + '\')">' + value.name + '</td>'
										+ '<td></td>';
							}

							const tr_box = document.createElement("tr");
							tr_box.id = value.code;
							tr_box.className = parentCode;
							tr_box.innerHTML = content;
							document.getElementById(parentCode).after(tr_box);
						});
					}
				})
				.catch(error => alert('fetch 에러'));
	}

	function fnSetSubElement(groupCode, parentCode){
		fnReset();
		document.getElementById("groupCode").value = groupCode;
		document.getElementById("parentCode").value = parentCode;
	}

	let codeChk = true;
	/* 코드 입력시 false */
	function fnOnInput(){
		codeChk = false;
	}
	//코드 중복확인
	function fnChkOverlap() {

		const code = document.getElementById('code').value;
		// 코드 입력검사
		if(code=== ""){
			document.getElementById('code').focus();
			alert("코드를 입력해주세요.")
			return false;
		}
		// 코드 정규식 영어 + 숫자만
		let patten = /^[A-Z0-9]{8}$/g;
		if(!patten.test(code)) {
			document.getElementById("code").focus();
			alert("코드는 대문자 알파벳과 숫자로 이루어진 8자리 조합만 가능합니다.");
			return false;
		}
		// 최상위 코드 정규식
		if(document.getElementById("groupCode").value == "" && document.getElementById("parentCode").value == ""){
			if(code != "" && code.indexOf("CD") != 0){
				document.getElementById("code").focus();
				alert("최상위 코드는 문자'CD'로 시작해야합니다.");
				return false;
			}
		}

		fetch('/ma/sys/code/chkOverlap', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				code: code
			})
		})
				.then(res => res.json())
				.then(data => {
					let msg;
					if(data.result === 'true') {
						msg = '사용 가능한 값입니다.';
						codeChk = true;
					} else {
						document.getElementById("code").focus();
						msg = '중복된 코드가 존재합니다. 다시 입력해주세요.';
						codeChk = false;
					}
					alert(msg);
				})
				.catch(error => alert('fetch 에러'));
	}

	// form박스 초기화
	function  fnReset(){
		document.getElementById("groupCode").value = '';
		document.getElementById("parentCode").value = '';
		document.getElementById("code").value = '';
		document.getElementById("name").value = '';
		document.getElementById("useYn").value = 'Y';
		document.getElementById("order").value = '';
		document.getElementById("code").readOnly = "";
		const check_btn =  '<input type="text" class="form-control" id="code" name="code"  title="코드" maxlength="8" oninput="fnOnInput()" required/>'
		                    +'<button id="check_btn" class="btn btn-outline-primary" type="button" onclick="fnChkOverlap();">중복확인</button>';
		document.getElementById("code_box").innerHTML = check_btn;
	}

	function fnSubmit(type, procType){
		if(document.getElementById("check_btn") != null){
			if(!codeChk) {
				alert("코드 중복검사를 실시해주세요.");
				return false;
			}
		}
		gfnPageProcess(type, procType+'Proc');
	}
</script>
<h4 class="fw-bold py-3 mb-4">CODE</h4>
<div>
	<form id="defaultFrm" th:object="${maCodeDto}" method="post" onsubmit="return false;">
		<input type="hidden" th:field="*{seq}"/>
		<div>
			<div class="card width_40p display_inline_block margin_right_3p">
				<div class="card-header">
				<table class="datatables-users table border-top dataTable no-footer dtr-column">
					<colgroup>
						<col class="width_5p">
						<col class="width_5p">
						<col class="width_5p">
						<col class="width_65p">
						<col class="width_20p">
					</colgroup>
					<thead>
					<tr>
						<th class="text_align_center">No.</th>
						<th th:colspan="3" class="text_align_center">코드명</th>
						<th class="text_align_center">추가</th>
					</tr>
					</thead>
					<tbody id="tbody">
					<th:block th:if="${#lists.size(resultList) gt 0}">
						<tr th:id="${result.code}" class="text-body cursor_pointer" th:each="result, status : ${resultList}">
							<td class="text_align_center" onclick="fnGetCodeList(this.getAttribute('parameter'))" th:parameter="${result.code}" th:text="${status.count}"></td>
							<td onclick="fnGetCodeList(this.getAttribute('parameter'))" th:parameter="${result.code}"  th:colspan="3" th:text="${result.name}"></td>
							<td class="text_align_center" onclick="fnSetSubElement(this.getAttribute('parameter'),this.getAttribute('parameter'))" th:parameter="${result.code}" >+</td>
						</tr>
					</th:block>
					<th:block th:unless="${#lists.size(resultList) gt 0}">
						<tr>
							<td colspan="5"  class="text_align_center" >등록된 데이터가 없습니다.</td>
						</tr>
					</th:block>
					</tbody>
				</table>
				</div>
			</div>
			<div class="card display_inline_block position_absolute">
				<div class="card-header">
						<input type="hidden" id="seq" name="seq" th:value="${maCodeDto.seq}">
						<div class="row">
							<div class="col-md-4 col-md-6">
								<label for="groupCode" class="form-label">그룹코드</label>
								<input type="text" class="form-control" id="groupCode" name="groupCode" th:value="${maCodeDto.groupCode}" th:maxlength="8" title="그룹코드"/>
							</div>
							<div class="col-md-4 col-md-6">
								<label for="parentCode" class="form-label">부모코드</label>
								<input type="text" class="form-control" id="parentCode" name="parentCode" th:value="${maCodeDto.parentCode}" th:maxlength="8" title="부모코드"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-12">
								<label for="code" class="form-label">코드</label>
								<div id="code_box" class="input-group">
									<input type="text" class="form-control" id="code" name="code" th:value="${maCodeDto.code}" title="코드" oninput="fnOnInput()" th:maxlength="8" required="required"/>
									<button id="check_btn" class="btn btn-outline-primary" type="button" onclick="fnChkOverlap();">중복확인</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-12">
								<label for="name" class="form-label">코드명</label>
								<input type="text" class="form-control" id="name" name="name" th:value="${maCodeDto.name}" th:maxlength="12" title="코드명" required="required"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-6">
								<label for="order" class="form-label">순서</label>
								<input type="text" class="form-control numOnly" id="order" name="order" th:value="${maCodeDto.order} eq 0 ? '' :${maCodeDto.order}" th:maxlength="4" title="순서" required="required"/>
							</div>
							<div class="col-md-4 col-md-6">
								<label for="useYn" class="form-label">사용여부</label>
								<select class="form-select" id="useYn" name="useYn" th:value="${maCodeDto.useYn}" title="사용여부" required="required">
									<option value="Y" th:selected="${maCodeDto.useYn} == 'Y'">사용</option>
									<option value="N" th:selected="${maCodeDto.useYn} == 'N'">미사용</option>
								</select>
							</div>
						</div>
						<div class="text-end margin_top_20px">
							<button type="button" class="btn btn-outline-info" onclick="fnReset()">초기화</button>
							<button id="btn_save" type="button" class="btn btn-outline-primary" onclick="fnSubmit('submit', 'insert')">등록</button>
							<button type="button" class="btn btn-outline-danger" onclick="fnSubmit('delete', 'delete')">삭제</button>
						</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>
