<!DOCTYPE html>
<html lang="en"
	  class="light-style layout-user-fixed"
	  dir="ltr"
	  data-theme="theme-default"
	  data-assets-path="/manage/assets/"
	  data-template="vertical-user-template-free"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/manage/layout/layout}"
	  layout:fragment="content"
>
<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", () => {
		fnGetCodeList("CD000001", '1');
    });

	function fnGetCodeList(groupCode,divn){
		fetch('/ma/sys/code/getCodeList', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				groupCode: groupCode
			})
		})
				.then(res => res.json())
				.then(data => {
					if(divn === '1'){
						let content = '<option value=\"\">시/도</option>';
						let selected = '';
						data.codeList.forEach((value, index)=> {
							if([[${userDto.areaSido}]] === value.code){
								selected = 'th:selected=\"selected\"';
							}
							content += '<option value=\"'+ value.code + '\"'+selected +'>'+ value.name + '</option>';
							selected = '';
						});
						document.getElementById('areaSido').innerHTML = content;
						fnGetCodeList([[${userDto.areaSido}]],'2');

					}else if(divn === '2'){
						let content = '<option value=\"\">시/군/구</option>';
						let selected = '';
						data.codeList.forEach((value, index)=> {
							if([[${userDto.areaGungu}]] === value.code){
								selected = 'th:selected=\"selected\"';
							}
							content += '<option value=\"'+ value.code + '\"'+selected +'>'+ value.name + '</option>';
							selected = '';
						});
						document.getElementById('areaGungu').innerHTML = content;
					}

				})
				.catch(error => alert('fetch 에러'));
	}


	let idChk = false;

    /* 아이디 중복확인 */
    function fnOnInput() {
        idChk = false;
    }
	function fnChkOverlap() {
		const userId = document.getElementById('userId').value;
		if(userId === ""){
			alert("아이디를 입력해주세요.")
			document.getElementById('userId').focus();
			return false;
		}
		fetch('/ma/member/user/chkOverlap', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				userId: userId
			})
		})
			.then(res => res.json())
			.then(data => {
				let msg;
				if(data.result === 'true') {
					msg = '사용 가능한 값입니다.';
					idChk = true;
				} else {
					msg = '중복된 아이디가 존재합니다. 다시 입력해주세요.';
					idChk = false;
				}
				alert(msg);
			})
			.catch(error => alert('fetch 에러'));
    }

    function fnSubmit(type) {

            if(idChk) {
                gfnPageProcess(type, [[${userDto.procType}]] + 'Proc');
            } else {
                alert("아이디 중복검사를 실시해주세요.");
			}
    }
</script>
<h4 class="fw-bold py-3 mb-4">MEMBER > User</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">유저<th:block th:text="${userDto.procType eq 'insert' ? '등록' : '수정'}"></th:block></h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${userDto}" method="post" onsubmit="return false;">
					<input type="hidden" th:field="*{seq}">
					<input type="hidden" th:field="*{pageNo}">
					<input type="hidden" th:field="*{search1}">
					<input type="hidden" th:field="*{searchOption}">
					<input type="hidden" th:field="*{searchKeyword}">
					<div class="row">
						<div class="mb-3 col-md-4">
							<label for="userClCd" class="form-label">구분</label>
							<select class="form-select" id="userClCd" name="userClCd" th:value="${userDto.userClCd}" title="구분" required>
								<option value="" th:selected="${userDto.userClCd} eq ''">선택</option>
								<option value="ma" th:selected="${userDto.userClCd} eq 'ma'">관리자</option>
								<option value="ft" th:selected="${userDto.userClCd} eq 'ft'">사용자</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="useYn">승인여부</label>
							<select class="form-select" id="useYn" name="useYn" th:value="${userDto.useYn}" title="승인여부" required>
								<option value="Y" th:selected="${userDto.useYn} eq 'Y'">승인</option>
								<option value="N" th:selected="${userDto.useYn} eq 'N'">제한</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userId">아이디</label>
							<div class="input-group">
								<input type="text" class="form-control idOnly" id="userId" name="userId" th:value="${userDto.userId}" title="아이디" th:maxlength="20" required oninput="fnOnInput();"/>
								<button class="btn btn-outline-primary" type="button" onclick="fnChkOverlap();">중복확인</button>
							</div>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userPwd">비밀번호</label>
							<input type="password" class="form-control" id="userPwd" name="userPwd" th:value="${userDto.userPwd}" title="비밀번호" required th:maxlength="30"/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userPwdChk">비밀번호 확인</label>
							<input type="password" class="form-control" id="userPwdChk" title="비밀번호확인" required th:maxlength="30"/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userNm">이름</label>
							<input type="text" class="form-control" id="userNm" name="userNm" th:value="${userDto.userNm}" title="유저명" required th:maxlength="8"/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userSex">성별</label>
							<select class="form-select" id="userSex" name="userSex" th:value="${userDto.userSex}" title="성별" required>
								<option value="" th:selected="${userDto.userSex} eq ''">선택</option>
								<option value="M" th:selected="${userDto.userSex} eq 'M'">남성</option>
								<option value="F" th:selected="${userDto.userSex} eq 'F'">여성</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userYmd">생년월일</label>
							<div>
								<select style="width:33.5% !important; display: inline-block !important;" class="form-select" id="userYmd" name="userYmd" th:value="${userDto.userYmd}" title="성별" required>
									<option value="" th:selected="${userDto.userYmd} eq ''">년도</option>
								</select>
								<select style="width:32% !important;display: inline-block !important;" class="form-select" id="userYmd" name="userYmd" th:value="${userDto.userYmd}" title="성별" required>
									<option value="" th:selected="${userDto.userYmd} eq ''">월</option>
								</select>
								<select style="width:32% !important;display: inline-block !important;" class="form-select" id="userYmd" name="userYmd" th:value="${userDto.userYmd}" title="성별" required>
									<option value="" th:selected="${userDto.userYmd} eq ''">일</option>
								</select>
							</div>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userPhone">전화번호</label>
							<input type="text" class="form-control" id="userPhone" name="userPhone" th:value="${userDto.userPhone}" title="전화번호" th:maxlength="13" required/>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="userEmail">이메일</label>
							<input type="text" class="form-control" id="userEmail" name="userEmail" th:value="${userDto.userEmail}" title="이메일" th:maxlength="30" required/>
						</div>
						<div class="mb-3 col-md-4">
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" >관심사</label>
							<select class="form-select" id="interest" name="interest" th:value="${userDto.interest}" title="주요 관심사" required>
								<option value="" th:selected="${userDto.interest} eq ''">선택</option>
								<option value="01" th:selected="${userDto.interest} eq '1'">독서</option>
								<option value="02" th:selected="${userDto.interest} eq '2'">영화</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="areaSido">주요 활동지역</label>
							<div>
								<select style="width:50% !important;display: inline-block !important;" class="form-select" id="areaSido" name="areaSido"  title="시/도" th:onchange="fnGetCodeList(this.value, '2')" required>
									<option value="" th:selected="${userDto.areaSido} eq ''">시/도</option>
								</select>
								<select style="width:48.5% !important;display: inline-block !important;" class="form-select" id="areaGungu" name="areaGungu"  title="시/군/구" required>
									<option value="" th:selected="${userDto.areaGungu} eq ''">시군구</option>
								</select>
							</div>
						</div>
						<div class="mb-3 col-md-4">
						</div>
						<div class="mb-3 col-md-12">
							<label class="form-label" for="userCmt">비고</label>
							<textarea class="form-control" id="userCmt" th:field="${userDto.userCmt}"></textarea>
						</div>
					</div>
					<div class="text-end">
						<th:block th:if="${userDto.procType eq 'insert'}">
							<button type="button" class="btn btn-outline-primary" onclick="fnSubmit('submit')">등록</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('list', 'list')">취소</button>
						</th:block>
						<th:block th:if="${userDto.procType eq 'update'}">
							<button type="button" class="btn btn-outline-primary" onclick="fnSubmit('update')">수정</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('view', 'view', this.getAttribute('parameter'), 'seq')" th:parameter="${userDto.seq}">취소</button>
						</th:block>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>
