<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", () => {
        gfnPageProcess('addList', 'addList', document.getElementById('pageNo').value);
	});

    document.addEventListener('keydown', function(event) {
        if(event.key === 'Enter') {
            event.preventDefault();
            fnSearch();
        }
    });

	function fnSearch() {
        document.getElementById('tbl').innerHTML = '';
        gfnPageProcess('addList', 'addList', '1');
    };
</script>
<h4 class="fw-bold py-3 mb-4">USER</h4>
<div class="card">
	<form id="defaultFrm" th:object="${maUserDto}" method="post" onsubmit="return false;">
		<input type="hidden" th:field="*{seq}"/>
		<input type="hidden" th:field="*{pageNo}"/>
		<div class="card-header">
			<div class="d-flex justify-content-start align-items-center row py-3 gap-3 gap-md-0">
				<div class="col-md-4">
					<label class="form-label" for="selectRole">구분</label>
					<select id="selectRole" th:field="*{userClCd}" class="form-select color-dropdown">
						<option value="">선택</option>
						<option value="ma">관리자</option>
						<option value="ft">사용자</option>
					</select>
				</div>
				<div class="col-md-4">
					<label class="form-label" for="selectStatus">상태</label>
					<select id="selectStatus" th:field="*{useYn}" class="form-select color-dropdown">
						<option value="">선택</option>
						<option value="Y" class="text-capitalize">승인</option>
						<option value="N" class="text-capitalize">제한</option>
					</select>
				</div>
			</div>
			<div class="input-group">
				<div class="col-md-1">
					<select class="form-select" th:field="*{searchOption}" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
						<option value="0" selected>전체</option>
						<option value="1">아이디</option>
						<option value="2">이름</option>
					</select>
				</div>
				<input type="text" class="form-control" th:field="*{searchKeyword}"/>
				<a class="btn btn-outline-primary" onclick="fnSearch();">Search</a>
			</div>
		</div>
	</form>
	<div class="card-datatable table-responsive">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
			<div id="tbl"></div>
		</div>
	</div>
</div>
</html>
