<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
>
<table class="datatables-users table border-top dataTable no-footer dtr-column" style="width: 100%;">
	<colgroup>
		<col style="width: 7%;">
		<col style="width: 15%;">
		<col>
		<col style="width: 15%;">
		<col style="width: 15%;">
	</colgroup>
	<thead>
		<tr>
			<th>번호</th>
			<th>구분</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:if="${#lists.size(resultList.toList()) gt 0}">
			<tr class="text-body" th:each="result, status : ${resultList.content}" onclick="gfnPageProcess('view', 'view', this.getAttribute('parameter'), 'seq')" th:parameter="${result.seq}" style="cursor: pointer;">
				<td th:text="${paging.totalRecord + 1 - ((maBoardDto.pageNo - 1) * paging.pageSize +  status.count)}"></td>
				<td th:text="${result.qstType}"></td>
				<td><span class="text-truncate" th:text="${result.title}"></span></td>
				<td th:text="${result.frstRegrId}"></td>
				<td th:text="${#dates.format(result.frstRegrDt, 'yyyy-MM-dd')}"></td>
			</tr>
		</th:block>
		<th:block th:unless="${#lists.size(resultList.toList()) gt 0}">
			<tr class="text-body">
				<td th:colspan="5" style="text-align: center; height: 5rem;">등록된 데이터가 없습니다.</td>
			</tr>
		</th:block>
	</tbody>
</table>
<div class="demo-inline-spacing">
	<button class="dt-button create-new btn btn-primary" onclick="gfnPageProcess('insert', 'insertForm')" style="position: absolute;right: 0;bottom: 1rem;">
		<span><i class="bx bx-plus me-sm-1"></i>
			<span class="d-none d-sm-inline-block">Add New Record</span>
		</span>
	</button>
	<nav aria-label="Page navigation" th:if="${paging.totalPage ne 0}">
		<ul class="pagination" style="cursor: pointer;">
			<li class="page-item first">
				<a class="page-link" onclick="fnPaging(this);" th:pageNo="1"><i class="tf-icon bx bx-chevrons-left"></i></a>
			</li>
			<li class="page-item prev" th:if="${paging.hasPrev} ? 'disalbe'">
				<a class="page-link" onclick="fnPaging(this);" th:pageNo="${paging.prevIdx}"><i class="tf-icon bx bx-chevron-left"></i></a>
			</li>
			<li th:each="page : ${#numbers.sequence(paging.startNum, paging.endNum)}" class="page-item" th:classappend="${page eq paging.currentPageNo + 1} ? 'active' : ''">
				<a class="page-link" onclick="fnPaging(this);" th:pageNo="${page}" th:text="${page}"></a>
			</li>
			<li class="page-item next" th:if="${paging.hasNext} ? 'disalbe'">
				<a class="page-link" onclick="fnPaging(this);" th:pageNo="${paging.nextIdx}"><i class="tf-icon bx bx-chevron-right"></i></a>
			</li>
			<li class="page-item last">
				<a class="page-link" onclick="fnPaging(this);" th:pageNo="${paging.totalPage}"><i class="tf-icon bx bx-chevrons-right"></i></a>
			</li>
		</ul>
	</nav>
</div>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    });

    function fnPaging(pageNo) {
        document.getElementById('tbl').innerHTML = '';
        gfnPageProcess('addList', 'addList', pageNo.getAttribute('pageNo'));
    }
</script>
</html>
