<!DOCTYPE html>
<html lang="en"
      class="light-style layout-auth-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-auth-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    });

    function fnSubmit(type) {
        if([[${maAuthDto.procType}]].indexOf('date') > -1) {
            gfnPageProcess(type, [[${maAuthDto.procType}]] + 'Proc');
        } else {
			gfnPageProcess(type, [[${maAuthDto.procType}]] + 'Proc');
        }
    }


	function fnCheckSwitch(obj, divn){
		let checkBoxs;
		if(divn === 1){
			checkBoxs = document.querySelectorAll("input");
		}else if(divn === 2){
			checkBoxs = document.querySelectorAll("."+obj.id);
		}
		if(checkBoxs.length >= 1){
			for(const checkBox of checkBoxs){
				checkBox.checked = obj.checked;
				if(divn === 2) {
					fnCheckSwitch(checkBox, 2);
				}
			}
		}
	}

	function fnCheckParent(obj){
		const parentId = document.getElementById(obj.className);
		const checkBoxs = document.querySelectorAll("."+obj.className);
		let checkCnt = 0;
		for(const checkBox of checkBoxs){
			if(checkBox.checked){
				checkCnt++;
			}
		}
		if(parentId.checked){
			parentId.checked = false;
		}
		if(checkBoxs.length === checkCnt){
			parentId.checked = true;
		}
	}
</script>
<h4 class="fw-bold py-3 mb-4">AUTHORITY</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">권한<th:block th:text="${maAuthDto.procType eq 'insert'? '등록' : '수정'}"></th:block></h5>
			</div>
			<div class="card-body">
				<form id="defaultFrm" th:object="${maAuthDto}" method="post" onsubmit="return false;">
					<input type="hidden" id="seq" name="seq" th:value="${maAuthDto.seq}">
					<input type="hidden" th:field="*{pageNo}">
					<input type="hidden" th:field="*{search1}">
					<input type="hidden" th:field="*{searchOption}">
					<input type="hidden" th:field="*{searchKeyword}">
					<div class="row">
						<div class="mb-3 col-md-4">
							<label for="authClCd" class="form-label">구분</label>
							<select class="form-select" id="authClCd" name="authClCd" th:value="${maAuthDto.authClCd}" title="구분" required>
								<option value="" th:selected="${maAuthDto.authClCd} eq ''">선택</option>
								<option value="ma" th:selected="${maAuthDto.authClCd} eq 'ma'">관리자</option>
								<option value="ft" th:selected="${maAuthDto.authClCd} eq 'ft'">사용자</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="useYn">사용여부</label>
							<select class="form-select" id="useYn" name="useYn" th:value="${maAuthDto.useYn}" title="사용여부" required>
								<option value="" th:selected="${maAuthDto.useYn} eq ''">선택</option>
								<option value="Y" th:selected="${maAuthDto.useYn} eq 'Y'">사용</option>
								<option value="N" th:selected="${maAuthDto.useYn} eq 'N'">미사용</option>
							</select>
						</div>
						<div class="mb-3 col-md-4">
							<label class="form-label" for="authRank">등급</label>
							<input type="text" class="form-control numOnly" id="authRank" name="authRank" th:value="${maAuthDto.authRank}" title="순서" required/>
						</div>
						<div class="mb-3 col-md-12">
							<label class="form-label" for="authNm">권한명</label>
							<input type="text" class="form-control" id="authNm" name="authNm" th:value="${maAuthDto.authNm}" title="메뉴명" required/>
						</div>
						<div class="mb-3 col-md-12">
							<label class="form-label" for="authNm">허용목록</label>
							<table class="datatables-users table border-top dataTable no-footer dtr-column">
								<colgroup>
									<col class="width_5p">
									<col class="width_2p">
									<col class="width_2p">
									<col>
								</colgroup>
								<thead>
									<tr>
										<th>
											<label>
												<input type="checkBox" onclick="fnCheckSwitch(this, 1)">
											</label>
										</th>
										<th colspan="3">메뉴명</th>
									</tr>
								</thead>
								<tbody id="tbody">
								<th:block th:each="depth1 : ${menuList}">
									<tr>
										<td class="text_align_right">
											<label>
												<input th:id="${depth1.menuCd + depth1.menuCd}" name="arrCheckList" th:value="${depth1.menuCd}" type="checkBox" onclick="fnCheckSwitch(this, 2)">
											</label>
										</td>
										<td colspan="3" th:text="${depth1.menuNm}"></td>
									</tr>
										<th:block th:each="depth2 : ${depth1.menuList}">
											<tr>
												<td class="text_align_right" colspan="2">
													<label>
														<input th:id="${depth2.menuCd + depth2.menuCd}" name="arrCheckList" th:value="${depth2.menuCd}" type="checkBox" th:class="${depth1.menuCd + depth1.menuCd}" onclick="fnCheckSwitch(this, 2)">
													</label>
												</td>
												<td colspan="2" th:text="${depth2.menuNm}"></td>
											</tr>
											<th:block th:each="depth3 : ${depth2.menuList}">
												<tr>
													<td class="text_align_right" colspan="3">
														<label>
															<input th:id="${depth3.menuCd + depth3.menuCd}" name="arrCheckList" th:value="${depth3.menuCd}" type="checkBox" th:class="${depth2.menuCd + depth2.menuCd}" onclick="fnCheckParent(this)">
														</label>
													</td>
													<td th:text="${depth3.menuNm}"></td>
												</tr>
											</th:block>
										</th:block>

								</th:block>
								</tbody>
							</table>

						</div>
					</div>
					<div class="text-end">
						<th:block th:if="${maAuthDto.procType eq 'insert'}">
							<button type="button" class="btn btn-outline-primary" onclick="fnSubmit('submit')">등록</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('list', 'list')">취소</button>
						</th:block>
						<th:block th:if="${maAuthDto.procType eq 'update'}">
							<button type="button" class="btn btn-outline-primary" onclick="fnSubmit('update')">수정</button>
							<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('view', 'listView', this.getAttribute('parameter'), 'seq')" th:parameter="${maAuthDto.seq}">취소</button>
						</th:block>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>
