<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/manage/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/manage/layout/layout}"
      layout:fragment="content"
>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

    });
</script>
<h4 class="fw-bold py-3 mb-4">QnA</h4>
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">QnA 상세</h5>
			</div>
			<form id="defaultFrm" th:object="${maBoardDto}" method="post" onsubmit="return false;">
				<input type="hidden" th:field="*{seq}">
				<input type="hidden" th:field="*{pageNo}">
				<input type="hidden" th:field="*{search1}">
				<input type="hidden" th:field="*{searchOption}">
				<input type="hidden" th:field="*{searchKeyword}">
				<div class="card-body">
					<div class="row">
						<div class="mb-3">
							<label class="form-label" for="title">제목</label>
							<input class="form-control-plaintext" id="title" th:field="*{title}" readonly>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="frstRegrId">작성자</label>
							<input type="text" class="form-control-plaintext" id="frstRegrId" th:field="*{frstRegrId}" readonly/>
						</div>
						<div class="mb-3 col-md-6">
							<label class="form-label" for="frstRegrDt">작성일</label>
							<span class="form-control-plaintext" id="frstRegrDt" th:text="*{#dates.format(frstRegrDt, 'yyyy-MM-dd')}" readonly></span>
						</div>
						<div class="mb-3">
							<label class="form-label" for="atchFile">첨부파일</label>
							<input type="text" class="form-control-plaintext" id="atchFile" th:field="*{atchFile}" readonly/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="cont">내용</label>
							<textarea class="form-control-plaintext" id="cont" th:field="*{cont}" readonly></textarea>
						</div>
					</div>
					<div class="text-end">
						<button type="button" class="btn btn-outline-danger" onclick="gfnPageProcess('delete', 'deleteProc')">삭제</button>
						<button type="button" class="btn btn-outline-secondary" onclick="gfnPageProcess('list', 'list')">목록</button>
					</div>
				</div>
				<hr class="my-0"/>
				<div class="card-header d-flex justify-content-between align-items-center">
					<h5 class="mb-0">QnA 답변등록</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="mb-3">
							<label class="form-label" for="reply">답변</label>
							<textarea class="form-control" id="reply" th:field="*{reply}" title="답변" required></textarea>
						</div>
					</div>
					<div class="text-end">
						<th:block th:if="*{#strings.isEmpty(reply)}">
							<button type="button" class="btn btn-outline-primary" onclick="gfnPageProcess('submit', 'updateReplyProc');">답변등록</button>
						</th:block>
						<th:block th:unless="*{#strings.isEmpty(reply)}">
							<button type="button" class="btn btn-outline-info" onclick="gfnPageProcess('update', 'updateReplyProc');">답변수정</button>
							<button type="button" class="btn btn-outline-danger" onclick="gfnPageProcess('delete', 'deleteReplyProc');">답변삭제</button>
						</th:block>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>
